# archivos de compilacion
build/
dist/
*.spec
build_venv/
temp_venv/
victim_package/

# archivos de python
__pycache__/
*.pyc
*.pyo

# archivos generados por keylogger
key_log.txt
texto_concatenado.txt
texto_cifrado.enc

# archivos temporales
*.tmp
*.log
transfer_package.sh

# archivos del sistema
.DS_Store
Thumbs.db
